@media (max-width: 1024px) {
    .promo {
        background-position: 100% bottom;
        background-size: 50%;
    }

    .promo-header {
        justify-content: space-evenly;
    }

    .promo-info {
        width: 50%;
    }

    .nav .button {
        display: block;
        position: relative;
    }

    .nav ul {
        /*display: none;*/
        display: block;
        background-color: rgba(251, 86, 90, .85);
        padding: 5%;
        position: fixed;
        z-index: 1;
        height: 100%;
        top: 0;
        left: 0;
        visibility: hidden;

        animation: slideLeft 1s forwards;
    }

    .nav li {
        padding: 5%;
        font-size: 28px;
    }

    .nav li a {
        color: #fff;
    }

    .nav ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav input:checked ~ ul {
        visibility: initial;
        animation: slideRight 1s;
    }

    @keyframes slideRight {
        from {
            left: -20%;
        }

        to {
            left: 0;
        }
    }

    @keyframes slideLeft {
        from {
            visibility: initial;
            left: 0;
        }

        to {
            left: -20%;
        }
    }

    .nav label {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .services .content {
        display: block;
    }

    .services-description {
        width: auto;
        margin-bottom: 80px;
    }

    .adv-wrapper {
        justify-content: space-evenly;
    }

    .adv-wrapper .item-wrapper {
        width: auto;
    }

    .map,
    .footer .content {
        padding-bottom: 40px;
    }

@media (max-width: 768px) {
    .options-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .web,
    .app,
    .presentations,
    .options-wrapper img {
            width: auto;
    }

    .options-wrapper div:not(:last-child) {
        margin-bottom: 40px;
    }

    .promo {
        background-image: none;
    }

    .promo-info {
        width: auto;
        text-align: center;
    }

    .partners .content div {
        width: 50%;
    }

    .partners .content {
        flex-wrap: wrap;
        text-align: center;
    }

    .location-info {
        display: none;
    }

    .map .contacts {
        display: block;
        margin: 0 auto 50px auto;
        padding: 20px 0;
        width: 90%;
        border-radius: 50px;
        box-shadow: 0 0 10px #ccc;
    }

    .map-marker {
        top: 50%;
    }

    .footer .content {
        flex-direction: column;
    }

    .footer-social {
        margin-bottom: 20px;
    }

    .footer-info {
        margin-left: 0;
        text-align: center;
    }
}


@media (max-width: 426px) {
    .promo-header {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .header-logo,
    .button {
        margin-bottom: 20px;
    }

    .button {
        background-color: #fb565a;
        color: #fff;
    }

    .services li:nth-child(3)::before {
        top: calc(25% - 1px);
    }

    .adv-wrapper {
        flex-direction: column;
    }

    .item-wrapper {
        margin-bottom: 30px;
    }

    .item-wrapper .percentage {
        margin-bottom: 0;
    }

    .partners .content {
        flex-direction: column;
    }

    .partners .content div {
        width: auto;
    }

    .partners .content div:not(:last-child) {
        margin-bottom: 30px;
    }

    .map-marker img {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 376px) {
    .info-title {
        font-size: 44px;
    }

    .services li:nth-child(2)::before {
        top: calc(25% - 1px);
    }

    .studio-title,
    .friendship {
        font-size: 36px;
    }

    .map-marker {
        top: 60%;
    }
}

@media (max-width: 320px) {
    .options .content {
        width: auto;
    }
}